.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftText{
    flex-basis: 30%;
    text-align: left;
}
.leftText h1{
    color: #551abb;
    margin: 5px;
}
.leftText h3{
    margin: 15px;
}
.leftText p{
    margin: 20px;
}
.leftText a{
    text-decoration: none;
    border: 2px solid #551abb;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 10px 30%;
}
.leftText a:hover{
    color: #fff;
    background-color: #551abb;
    transition: 0.5s;
    border: 2px solid #fff;
}
.rightImg{
    flex-basis: 60%;
}


/* ============ responsive ============ */

@media screen and (max-width: 1180px){
    .leftText{
        flex-basis: 40%;
    }
    .rightImg{
        flex-basis: 40%;
    }
    .rightImg img{
        width: 100%;
    }
    .container{
        margin-top: 100px;
    }

}
@media screen and (max-width: 880px){
    .container{
        flex-wrap: wrap;
    }
    .leftText{
        flex-basis: 80%;
    }
    .rightImg{
        flex-basis: 80%;
    }
    .leftText a{
        margin: 20px;
    }
}